.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: solid purple 1px;
    border-radius: 10px;
    background-color: cadetblue;
}

img {
    border-radius: 10px;
}

button {
    background: none;
    border: none;
    padding: 0;
}

button:hover {
    cursor: pointer;
    border-radius: 10px;
}